  
.fractaltool{
    position: relative;
    /* background-color: #F5F5F5; */
    font: 14px 'Roboto',sans-serif;
    font-weight: 400;
    color: #333;
    padding: .5em;
    box-sizing: border-box;
}
.fractaltool select{
    height: 2.5em;
    border: 1px solid #bdbdbd;
}

.icon-question{
    width: 1em;
    height: auto;
}
button:focus, .btn:focus{
    outline: none;
    text-decoration: none;
}
.fractaltool label{
    font-size: 14px;
    margin-right: .5rem;
}

select,input{
    border-radius: 4px;
    border: 1px solid #828282;
}
select,input[type=number] {
    height: 2em; 
}
.input-thickness {
    width: 4em;
}
.canvasDiv{
    position: relative;
}
.canvas{
    border: 2px solid #E0E0E0;
    position: absolute;
    left:0; 
    top:0; 
    z-index:1;
}
.canvas:focus{
    outline: none;
}
.hide{
    display: none;
}
.loadSaveDiv {
    display: block;
    position:absolute;
    top: .5em;
    right: .5em;
    z-index: 99;
}
.loadSaveDiv input{
    display: none;
}
/* control panel */
.ctrlPanelDiv{
    display: block;
    position: relative;
    width: 100%;
}
.ctrlPanel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: .5em;
}
.levelButtons{
    background-color: #E0E0E0;
    border: 1px solid #828282;
    border-radius: 2px;
    padding: 0;
}
.message{
    position: absolute;
    top: 4.5em;
    left: .5em;
    background-color: #f5f5f5;
    padding: 4px;
    z-index: 99;
}
.tutor {
    position: absolute;
    font-size: 16px;
    top: 6.5em;
    padding: .2em;
    background-color: white;
    border: 1px solid #f5f6f5;
    box-shadow: 0 1px 4px rgba(0,0,0,.09);
    border-radius: .2em;
    z-index: 99;
}
.help-panel{
    display: none;
    padding-left:1em;
    padding-right:1em;
    width: 30%;
    right:1em;
}
.help-panel h3{
    text-align: center;
}
.help-panel ul{
    padding-left: 1em;
}
.help-panel .icon-close{
    opacity: 50%;
    position: absolute;
    top: .5em;
    right: .5em;
    width: 1em;
}
.icon-close:hover{
    opacity: 100%;
}
.icon-color{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 8px;
}
.typeTutor{
    left: 1em;
}
.tutor-heading {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.tutor-heading div,.tutor-heading img,.tutor-heading p{
    flex-shrink: 0;
    margin: .2em;
    padding: 0;
}
.type-color {
    height: 1em;
    width: 16px;
    border-radius: 8px;
    background-color: black;
}

.checkbox{
    margin:0;
}
.checkbox label, .checkbox input[type=checkbox]{
    min-height: auto;
    line-height: 2em;
    position: static;
    display: inline;
    margin:0;
    padding:0;
}

.checkbox input[type=checkbox]{
    margin-right: .5em;
}

.btn{
    display: inline;
    padding: .5em;
    font-size: 1.5rem;
    line-height: 1em;
    background-color: white;
}
.btn-default{
    border: 1px solid #828282;
    border-radius: 4px;
    margin-left: .5em;
    margin-bottom: .5em;
}
.btn-clear {
    border-color: #DC3545;
    color: #DC3545;
    margin: 0;
}
.btn-clear:hover{
    background-color: #DC3545;
    color:white;
}
.btn-iter{
    margin:0;
    border: 1px solid #E0E0E0;
    border-radius: 0;
}
.btn-iter:hover{
    background-color: #F2F2F2;
}
.btn-iter-inf{ margin-left:.5em;}

.active-iter {
    background-color: #CCEEF9;
}

.btn-tool{
    border:none;
    margin-bottom: 0;
}
.segThickness {
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: white;
    z-index: 99;
}
.segThickness div{
    display: inline;
    margin-left: 1em;
}
.scaleMoveBtns {
    display: flex;
    position: absolute;
    align-items: flex-end;
    bottom: 1em;
    right: 1em;
    z-index:99;
}
.segTypeSel{
    display: inline-block;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #e0e0e0;
    border-radius: .5em;
}
.segTypeSel button{
    border:none;
    margin: .2em;
}
.circleSel{
    font-size: 14px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 3.5em;
    
    padding: .2em;
    border-radius: .5em;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.16);
}
.repSel-list{
    font-size: 14px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 3.5em;
    
    padding: .2em;
    border-radius: .5em;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.16);
}
.repSel-list button{
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
}
.repSel-list span{
    margin-left: .5em;
    line-height: 16px;
}

.typeBtnReg,.typeBtnAdv{
    display: inline;
}
.btn-edit{
    font-size: 16px;
    margin-left: .3em;
    padding: .25em .5em .25em .5em;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    border-left-width: .5em;
}

.btn-edit img{
    width: 1.5em;
    height: auto;
}
.active-edit {
    background-color: #f5f5f5;
}
.active-edit img {
    opacity: 1.0;
}
.active-type {
    background-color: #f5f5f5;
}



/* mode selection */
.modeSelDiv {
    display: inline-block;
    vertical-align: top;
    margin-bottom:.5em;
}
.btn-mode{
    margin:0;
    border: 2px solid #333;
    border-radius: 0;
}
.btn-mode:focus{
    color:white;
    outline: none;
}
.active-mode {
    background-color: #333;
    color: white;
}
.color-selected{
    position:absolute;
    width:1.3em;
    height: .3em;
    left:.5em;
    bottom:.4em;
}

.compass{
    display: grid;
    grid-template-columns: 3em 3em 3em;
    grid-template-rows: 3em 3em;
    grid-gap: 0;
}

.compass button:nth-child(1){
    grid-area: 1 / 2 / span 1 / span 1;
}
.compass button:nth-child(2){
    grid-area: 2 / 1 / span 1 / span 1;
}
.compass button:nth-child(3){
    grid-area: 2 / 2 / span 1 / span 1;
}
.compass button:nth-child(4){
    grid-area: 2 / 3 / span 1 / span 1;
}
